.container{
    display: flex;
    justify-content: space-around;   
    align-items: center;
    margin-block-end: 60px;
}

.ipimg{
    background-image: url(fundo3.jpg);
    height: 600px;
}

#txtb{
    color: white;
}

#txtr{
    color: yellow;
}

.container3{
 margin-right: 20%;
 margin-left: 15%;
    
}

.ipimg2{
    background-image: url(fundo\ 2.jpg);
    height: 600px;
}
